In [2]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

Cargamos las tablas limpias en .parquet

In [3]:
items_games = pd.read_parquet('items_games.parquet')
reviews_games = pd.read_parquet('reviews_games.parquet')

In [4]:
items_games

,user_id,item_id,title,playtime_forever,genres,release_date,year_release
0,76561197970982479,10,Counter-Strike,6,Action,2000-11-01,2000
1,js41637,10,Counter-Strike,0,Action,2000-11-01,2000
2,Riot-Punch,10,Counter-Strike,0,Action,2000-11-01,2000
3,doctr,10,Counter-Strike,93,Action,2000-11-01,2000
4,corrupted_soul,10,Counter-Strike,108,Action,2000-11-01,2000
...,...,...,...,...,...,...,...
7471244,76561198071808318,444770,Mimpi Dreams,46,Indie,2016-03-22,2016
7471245,76561198107283457,354280,ChaosTower,164,Action,2016-02-23,2016
7471246,76561198107283457,354280,ChaosTower,164,Casual,2016-02-23,2016
7471247,76561198107283457,354280,ChaosTower,164,Indie,2016-02-23,2016
7471248,76561198107283457,354280,ChaosTower,164,Simulation,2016-02-23,2016

In [7]:
items_games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7471249 entries, 0 to 7471248
Data columns (total 7 columns):
 #   Column            Dtype
---  ------            -----
 0   user_id           object
 1   item_id           int64
 2   title             object
 3   playtime_forever  int64
 4   genres            object
 5   release_date      datetime64[ns]
 6   year_release      int32
dtypes: datetime64[ns](1), int32(1), int64(2), object(3)
memory usage: 370.5+ MB

In [5]:
reviews_games

,user_id,posted,item_id,recommend,sentiment_analysis,year_posted,title,genres,release_date,year_release
0,76561197970982479,2011-11-05,1250,1,2,2011,Killing Floor,Action,2009-05-14,2009
1,death-hunter,2015-03-30,1250,1,2,2015,Killing Floor,Action,2009-05-14,2009
2,DJKamBer,2013-07-12,1250,1,0,2013,Killing Floor,Action,2009-05-14,2009
3,diego9031,2015-08-13,1250,1,1,2015,Killing Floor,Action,2009-05-14,2009
4,76561198081962345,2014-04-05,1250,1,1,2014,Killing Floor,Action,2009-05-14,2009
...,...,...,...,...,...,...,...,...,...,...
101626,Gamer0009,2015-08-11,306040,1,2,2015,The Howler,Simulation,2016-04-21,2016
101627,Gamer0009,2015-08-11,306040,1,2,2015,The Howler,Strategy,2016-04-21,2016
101628,llDracuwulf,2015-10-29,307130,1,2,2015,Asteria,Action,2014-07-03,2014
101629,llDracuwulf,2015-10-29,307130,1,2,2015,Asteria,Adventure,2014-07-03,2014
101630,llDracuwulf,2015-10-29,307130,1,2,2015,Asteria,Indie,2014-07-03,2014

In [8]:
reviews_games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101631 entries, 0 to 101630
Data columns (total 10 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   user_id             101631 non-null  object
 1   posted              101631 non-null  datetime64[ns]
 2   item_id             101631 non-null  int64
 3   recommend           101631 non-null  int32
 4   sentiment_analysis  101631 non-null  int64
 5   year_posted         101631 non-null  int32
 6   title               101631 non-null  object
 7   genres              101631 non-null  object
 8   release_date        101631 non-null  datetime64[ns]
 9   year_release        101631 non-null  int32
dtypes: datetime64[ns](2), int32(3), int64(2), object(3)
memory usage: 6.6+ MB